/* General styles */
:root{
  --lyft-purple: #540260;
  --lyft-pink: #e80a8b;
}

* {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

.btn-transparent {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  width: 100%;
  min-width: 75px;
  padding: 15px;
  margin-bottom: 15px;
  height: auto;
}

.btn-transparent:hover {
  background-color: #fff;
  color: var(--lyft-purple);
}

.btn-lyft {
  width: 100%;
  background: linear-gradient(to bottom right, 
  var(--lyft-purple), var(--lyft-pink));
  color: #fff;
  font-size: 1em;
  margin-top: 150px;
  border-radius: 0;
  padding: 15px;
}

.btn-lyft:hover {
  color: #fff;
  background: linear-gradient(to bottom right, 
  #3a0043, #c50073);
}

.btn-lyft:disabled {
  background-color: #c6c6c6;
}

.btn-back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: var(--lyft-purple);
}

.btn-back:hover {
  color: #c600e4;
}

/* Overwrite styles */
.btn {
  transition: .25s;
}

.navbar-default {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #e7e7e7;
}

.navbar-header {
  position: relative;
}

.navbar-brand {
  width: 100%;
}

.dropdown-menu {
  min-width: auto;
}

.dropdown-menu img {
  width: 25px;
}

.form-group {
  text-align: center;
}

.form-control {
  border: none;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: none;
  margin-left: 5px;
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
}

/* Helpers */
.screen-100vh{
  height: 100vh;
  margin-bottom: 0;
}

.valign-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-20 {
  margin-top: 20px;
}

/* Site styles */
#splash {
  background: linear-gradient(to bottom right, 
  var(--lyft-purple), var(--lyft-pink));
}

.logo {
  margin: 0 auto;
  width: 75%;
  max-width: 250px;
}

#home {
  background-image: url('../assets/images/home-bg.jpg');
  background-position: 65% 50%;
  background-size: cover;
  padding-bottom: 20px;
  position: relative;
}

#home .row {
  position: absolute;
  width: 100%;
  bottom: 25px;
}

#selected-country {
  height: 34px;
  padding: 1px 6px;
}

#selected-country img {
  width: 25px;
}

#verification {
  width: 100px;
}

@media(min-width: 768px) {
  .navbar-header, .navbar-text {
    float: none;
  }
  
  .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
  }
}